# PR checks

name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Deephaven
        run: |
          curl https://raw.githubusercontent.com/deephaven/deephaven-core/main/containers/python/docker-compose.yml > ./test/docker-compose.yml
          docker-compose -f ./test/docker-compose.yml up -d
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install python dependencies
        run: |
            pip install --upgrade pip
            pip install -r ./assert-tables/requirements.txt
      - name: Add tables to Deephaven
        run: python ./test/add-tables.py
      - name: Assert tables
        uses: ./.
        with:
          table-names: tableOne,tableTwo
          host: localhost
          max-retries: 5
